SSID=hello
WIFI_PASSWORD=world
MQTT_CLIENT_ID=esp32c3-bedroom
MQTT_TOPIC_TELEMETRY=home/bedroom/temp1/tele/state
MQTT_TOPIC_STATUS=home/bedroom/temp1/status/state
MQTT_BROKER_PORT=1883
MQTT_BROKER_IP=127.0.0.1
MQTT_USERNAME=hello
MQTT_PASSWORD=world
